* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #87CEEB;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0463CA;
}

.nav-left {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar li a:hover {
  background-color: #0494fc;
}

.search-box {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}

.search-box input[type="text"] {
  padding: 6px;
  font-size: 15px;
  border: none;
  border-radius: 0.25rem;
}

.search-box button {
  padding: 6px 12px;
  text-align: center;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0.25rem;
  background-color: white;
  margin-left: 2px;
}

.search-box button:hover {
  background: #0494fc;
}

.fa-search {
  color: #010306;
}


/*search box weather

  .search-weather {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    margin: 0 auto;
  }
  .search-weather button {
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0463CA;
    transition: background-color 0.3s ease;
    margin-left: 2px;
    box-shadow: 0 0 10px rgba(23, 104, 162, 0.1);
  }
  .search-weather button:hover {
    background: #034b9b;
  }
  
  .search-weather input[type="text"] {
    padding: 6px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  */
/* middle layer
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-color: white;
  }
  */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.p-table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.p-card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
}

.p-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  width: 250px;
}

.p-card p {
  color: #888;
  margin-bottom: 20px;
}

.p-card .price {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.p-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  height: 75px;
}

.p-card ul li {
  margin-bottom: 10px;
}

.p-card button {
  background-color: #0463CA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.p-card button:hover {
  background-color: #034b9b;
}

.heade-line {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36px;
}

/* compare design*/

.compare {
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

/*
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  */

.nextPage {
  margin: 0 auto;
  padding: 20px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.container button {
  align-items: center;
  background-color: #0463CA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.nextPage button:hover {
  background-color: #034b9b;
}

/* author details*/


.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.author-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 40px;

}

.author-name {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.author-bio {
  font-size: 20px;
  margin: 10px 0;
  padding-bottom: 7px;
}

.author-social {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.author-social li {
  display: inline-block;
  margin-right: 10px;
}

.author-social a {
  text-decoration: none;
  color: #000000;
}

.image-button {
  display: inline-block;
  cursor: pointer;
}

.image-button img {
  width: 40px;
  height: 40px;
}

/*footer
footer {
  background-color: #0463CA;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
}

*/